<div class="example-container">
  <form [formGroup]="testForm" #test="ngForm" (ngSubmit)='modifyTest()'>
    <mat-card>

      <mat-card-title>{{'modify_test_form' | translate}}</mat-card-title>

      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Test name" formControlName="name" required>
        </mat-form-field>

        <div class="title">{{'questions' | translate}}</div>

        <div class="questions">
          <div class="secondary-title">{{'add_question' | translate}}</div>
          <mat-radio-group name="questionType">
            <mat-radio-button class="question-option" *ngFor="let type of questionTypes" (click)='setQuestionType(type)' [value]=type required>{{type}}</mat-radio-button>
          </mat-radio-group>
          <a class="end-button" mat-button type="addQuestion" (click)='addQuestion(questionType)'>
            <mat-icon>add</mat-icon>
          </a>
        </div>

        <div class="secondary-title">{{'open_questions' | translate}}</div>
        <div class="question" *ngFor="let question of testForm.get('openQuestions').controls; let i = index;">
          <mat-form-field formArrayName="openQuestions">
            <div [formGroupName]="i">
              <input formControlName="question" matInput placeholder="Open question text">
            </div>
          </mat-form-field>
          <div>
            <a mat-button type="removeQuestion" (click)="removeQuestion('Open question', i)">{{'remove_question' | translate}}</a>
          </div>
        </div>

        <div class="secondary-title">{{'choice_question' | translate}}</div>
        <div class="question" formArrayName="choiceQuestions" *ngFor="let question of testForm.get('choiceQuestions').controls; let i = index;">
          <mat-form-field [formGroupName]="i">
            <input formControlName="question" matInput placeholder="Choice question text"/>
          </mat-form-field>
          <div class="answers">
            <div *ngFor="let answer of arrayOfChoiceAnswers[i]; let j = index;">
              <mat-form-field>
                <input type="text" class="form-control" matInput placeholder="Answer text" [value]="answer" (change)='addChoiceAnswer(i, j, $event.target.value)'/>
              </mat-form-field>
              <a class="inside-button" mat-button type="removeAnswer" (click)='removeChoiceAnswerInput(i)'>
                <mat-icon>delete</mat-icon>
              </a>
            </div>
            <a class="mat-button-wrapper" mat-button type="addAnswer" (click)='addChoiceAnswerInput(i)'>{{'add_answer' | translate}}</a>
          </div>
          <div>
            <a mat-button type="removeQuestion" (click)="removeQuestion('Choice question', i)">{{'remove_question' | translate}}</a>
          </div>
        </div>

        <div class="secondary-title">{{'scale_questions' | translate}}</div>
        <div class="question" formArrayName="scaleQuestions" *ngFor="let question of testForm.get('scaleQuestions').controls; let i = index;">
          <mat-form-field [formGroupName]="i">
            <input formControlName="question" matInput placeholder="Scale question text"/>
          </mat-form-field>
          <div class="answers">
            <div *ngFor="let answer of arrayOfScaleAnswers[i]; let j = index;">
              <mat-form-field>
                <input type="text" class="form-control" matInput placeholder="Answer text" [value]="answer" (change)='addScaleAnswer(i, j, $event.target.value)'/>
              </mat-form-field>
              <a class="inside-button" mat-button type="removeAnswer" (click)='removeScaleAnswerInput(i)'>
                <mat-icon>delete</mat-icon>
              </a>
            </div>
            <a mat-button type="addAnswer" (click)='addScaleAnswerInput(i)'>{{'add_answer' | translate}}</a>
          </div>
          <div>
            <a mat-button type="removeQuestion" (click)="removeQuestion('Scale question', i)">{{'remove_question' | translate}}</a>
          </div>
        </div>

        <div class="secondary-title">{{'numeric_questions' | translate}}</div>
        <div class="question" *ngFor="let question of testForm.get('numericQuestions').controls; let i = index;">
          <mat-form-field formArrayName="numericQuestions">
            <div [formGroupName]="i">
              <input formControlName="question" matInput placeholder="Numeric question text">
            </div>
          </mat-form-field>
          <div>
            <a mat-button type="removeQuestion" (click)="removeQuestion('Numeric question', i)">{{'remove_question' | translate}}</a>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btn btn-success" color="primary" type="submit" [disabled]="!test.form.valid">
          Modify test
        </button>
        <a class="end-button cancel-button" mat-button (click)="cancel()">{{'cancel' | translate}}</a>
      </mat-card-actions>
    </mat-card>

  </form>
</div>
<form class="widthStyle topMargin" #wikiForm="ngForm">
  <mat-card>

    <mat-card-title>{{'searching' | translate}}</mat-card-title>

    <mat-card-content>

      <mat-form-field id="searching">
        <input matInput placeholder="Type" [(ngModel)]="value" name="value">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openWiki(value)">{{'search_wiki' | translate}} </button>
      <button mat-raised-button color="primary" (click)="findSynonyms(value)">{{'search_synonyms' | translate}}</button>
    </mat-card-actions>

  </mat-card>
</form>
