.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 30%;
  margin: 0 auto;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

button {
  margin: 2px;
}

.button-cell-1 {
  flex: 0.7;
}

.button-cell-2 {
  flex: 1.3;
}

.button-cell-3 {
  flex: 1.0;
}

.mat-button {
  white-space: normal;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}
