<div class="example-container">
  <form [formGroup]="testForm" #test="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="import">
          <button mat-raised-button color="primary" type="button" (click)='importCsv()' class='icon'><img
              src="../../assets/icons/csv.png" class='iconImg' /></button>
          <mat-form-field class="import-name">
            <input matInput formControlName="testName" placeholder="Test name" />
          </mat-form-field>
          <input class="file" type='file' (change)="fileChanged($event)">
        </div>
      </mat-card-content>
    </mat-card>

  </form>
</div>