<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="positionName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let positions">
        {{positions.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="changeState">
      <mat-header-cell class='button-cell-1' *matHeaderCellDef> Change state </mat-header-cell>
      <mat-cell class='button-cell-1' *matCellDef="let positions">
        <button mat-button mat-raised-button color='primary' (click)='onChangeStateClick(positions)'> {{positions.active === true ? 'Deactivate' : 'Active'}} </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



