<div class="example-container mat-elevation-z8">
  <mat-table #table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'id' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let positions">
        {{positions.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'name' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let positions">
        {{positions.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'change_state' | translate}} </mat-header-cell>
      <mat-cell class='button-cell-1' *matCellDef="let positions">
        <button mat-button mat-raised-button color='primary' (click)='onChangeStateClick(positions)'> {{positions.active === true ? 'Deactivate' : 'Active'}} </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



