.test-container {
  min-width: 300px;
  width: 40%;
  margin: 0 auto;
  padding: 50px;
  background-color: #424242;
  margin-bottom: 50px;
}

.test-title {
  font-size: 2em;
  color: aliceblue;
}

.question-title {
  font-size: 1.5em;
  color: aliceblue;
}

.answer-option {
  margin: 20px;
  color: aliceblue;
}

.answer-input {
  min-width: 45%;
  color: aliceblue;
}

input {

}

.mat-button {
  background-color: aliceblue;
  margin: 50px 45% 0 45%;
}
