div.buttons {
  float: right;
  justify-content: flex-end;
}

button {
  margin-right: 5px;
  margin-top: 5px;
}

mat-card {
  width: 60%;
  margin: 0 auto;
}

.errors-space {
  font-size: 12px;
  padding-bottom: 6px;
  color: red;
}
