<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button mat-raised-button (click)="returnToHome()">Home {{title}}!</button>
  <button mat-button [matMenuTriggerFor]="positionMenu">Position</button>
  <mat-menu #positionMenu="matMenu">
    <button mat-menu-item (click)="onPositionListClick()">Position list</button>
    <button mat-menu-item (click)="onAddPositionClick()">Add position</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="redactorMenu">Redactor</button>
  <mat-menu #redactorMenu="matMenu">
    <button mat-menu-item (click)="onRedactorListClick()">Redactor list</button>
  </mat-menu>
</mat-toolbar>
<br/>
<router-outlet></router-outlet>



