<form class="form" #redactorForm="ngForm" (ngSubmit)="submitForm()">
  <mat-card>

    <mat-card-title>{{'edit_redactor' | translate}}</mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput [placeholder]="'first_name' | translate" [(ngModel)]="redactor.firstName"
               required name="firstName" #firstName>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'last_name' | translate" [(ngModel)]="redactor.lastName"
               required name="lastName" #lastName>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'email' | translate" [(ngModel)]="redactor.email"
               required name="email" #email>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!redactorForm.form.valid">{{'save' | translate}}
      </button>
      <a mat-button routerLink="/redactor-list">{{'cancel' | translate}}</a>

    </mat-card-actions>

  </mat-card>
</form>
