mat-form-field {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 90%;
  margin: 0 auto;
}

.id-cell {
  flex: 0.3;
}

.button-cell-1 {
  flex: 0.7;
}

div.buttons {
  float: right;
  justify-content: flex-end;
}

button {
  margin-right: 5px;
  margin-top: 5px;
}

.form {
  width: 30%;
  margin: 0 auto;
}

mat-card {
  margin-bottom: 30px;
  width: 100%;
}

.errors-space {
  font-size: 12px;
  padding-bottom: 6px;
  color: red;
}
