<form class="form" #redactorForm="ngForm" (ngSubmit)="submitForm()">
  <mat-card>

    <mat-card-title>Add Redactor</mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="redactor.firstName"
               required name="firstName" #firstName>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="redactor.lastName"
               required name="lastName" #lastName>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-mail" [(ngModel)]="redactor.email"
               required name="email" #email>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="redactor.password"
               required name="password" type="password" #password>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Re-type Password" [(ngModel)]="redactor.secondPassword"
               required name="secondPassword" type="password" #password>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!redactorForm.form.valid">Save
      </button>
      <a mat-button routerLink="/redactor-list">Cancel</a>

    </mat-card-actions>

  </mat-card>
</form>
