<mat-card class="card">

  <mat-card-title>{{'my_tests' | translate}}</mat-card-title>

  <mat-card-content>

    <div class="example-container mat-elevation-z8">
      <ng-container>
        <button mat-button mat-raised-button color='primary' (click)='onAddClick()'>{{'add_new_test' | translate}}</button>
      </ng-container>

      <mat-table #table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell class='id-cell' *matHeaderCellDef mat-sort-header> {{'id' | translate}}</mat-header-cell>
          <mat-cell class='id-cell' *matCellDef="let tests">
            {{tests.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let tests">
            {{tests.testVersions[0].testName}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="add">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header>{{'add_new_test_version' | translate}}</mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <button mat-button mat-raised-button color='primary' (click)='onAddVersionClick(tests)'> {{'add' | translate}} </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'delete' | translate}} </mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <button mat-button mat-raised-button color='primary' (click)='onDeleteClick(tests)'> {{'delete' | translate}} </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="choose">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'choose' | translate}}</mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <button mat-button mat-raised-button color='primary' (click)='onChooseClick(tests)'> {{'choose' | translate}}</button>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="export">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'export' | translate}} </mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <input type="image" src="../../assets/icons/pdf.png" class='icon' (click)='onPdfExportClick(tests)' />
            <input type="image" src="../../assets/icons/csv.png" class='icon' (click)='onCsvExportClick(tests)' />
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>

</mat-card>

<br/><br/>

<mat-card class="card" *ngIf=showDetailedTable>

  <mat-card-title>{{'versions_of_test' | translate}}</mat-card-title>

  <mat-card-content>

    <div class="example-container mat-elevation-z8">
      <mat-table #detailedTable="matSort" matSort [dataSource]="dataSourceDetailed">

        <ng-container matColumnDef="id">
          <mat-header-cell class='id-cell' *matHeaderCellDef mat-sort-header> {{'id' | translate}}</mat-header-cell>
          <mat-cell class='id-cell' *matCellDef="let tests">
            {{tests.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let tests">
            {{tests.testName}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="language">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'language' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let tests">
            {{tests.languageName}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modify">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'modify' | translate}} </mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <button mat-button mat-raised-button color='primary' (click)='onModifyClick(tests)'> {{'modify' | translate}} </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="translate">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'translate' | translate}} </mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <button mat-button mat-raised-button color='primary' (click)='onTranslateClick(tests)'> {{'translate' | translate}} </button>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="export">
          <mat-header-cell class='button-cell-1' *matHeaderCellDef mat-sort-header> {{'export' | translate}} </mat-header-cell>
          <mat-cell class='button-cell-1' *matCellDef="let tests">
            <input type="image" src="../../assets/icons/pdf.png" class='icon' (click)='onPdfExportClick(tests)' />
            <input type="image" src="../../assets/icons/csv.png" class='icon' (click)='onCsvExportClick(tests)' />
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsDetailed"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsDetailed;"></mat-row>
      </mat-table>
      <mat-paginator #detailedTablePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>

</mat-card>

<div id="hidden-export-container">
  <ol id='export-container'>
    <li *ngFor="let question of questions">
      <p>{{question.question}}</p>
          <ul>
              <li *ngFor="let answer of question.answers">{{answer}}</li>
          </ul>
        </li>
  </ol>
</div>
