<form class="form" #positionForm="ngForm" (ngSubmit)="submitForm()">
  <mat-card>

    <mat-card-title>{{'add_position' | translate}}</mat-card-title>

    <mat-card-content>

      <mat-form-field>
        <input matInput [placeholder]="'position_name' | translate" [(ngModel)]="position.name"
               required name="name" #name>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!positionForm.form.valid">{{'save' | translate}}
      </button>
      <a mat-button routerLink="/positions-list">{{'cancel' | translate}}</a>

    </mat-card-actions>

  </mat-card>
</form>


